<h3>Comments</h3>
<% @comments.each do |comment| %>
  <!--
  <td><%= comment.content %></td>
  <td><%= comment.user %></td>
  <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  -->
<div class="panel panel-default">
  <div class="panel-heading"><%= comment.user.username unless comment.user.nil? %></div>
  <div class="panel-body">
    <p><%= comment.content %></p>
  </div>
  
  <% if comment.userCanModify(current_user) %>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <% end %>
</div>
<% end %>

