<% content_for :toolbar do %>
  <%= render "layouts/toolbar" %>
<% end %>
<!--
<table>
  <tr>
    <th>@search</th>
    <td><%=@search%></td>
  </tr>
  <tr>
    <th>@grid</th>
    <td><%=@grid%></td>
  </tr>
  <tr>
    <th>@showFavorites</th>
    <td><%=@showFavorites%></td>
  </tr>
  <tr>
    <th>@showMy</th>
    <td><%=@showMy%></td>
  </tr>
  <tr>
    <th>@showOthers</th>
    <td><%=@showOthers%></td>
  </tr>
  <tr>
    <th>@params</th>
    <td><%=@params%></td>
  </tr>
</table>
-->
<div class="col-xs-12 col-sm-12 col-md-12">
  <% if @search %>
    <h2>Search : '<%= @searchQry %>'</h2>
  <% else %>
    <h1>Listing webcams</h1>
  <% end %>
</div>
<% if @grid %>
    <% @webcams.each do |webcam| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to webcam do %>
        <img src="<%= webcam.url %>?rand=<%=Random.rand()%>" alt="<%= webcam.nom %>">
        <% end %>
        <div class="caption">
          <h3><%= webcam.nom %></h3>
          <p>lat:<%= webcam.latitude %>, lon:<%= webcam.longitude %><%if not webcam.orientation.nil?%>, ori:<%= webcam.orientation %>°<%end%></p>
          <% if not webcam.user.nil? %>
          <p>by <%= webcam.user.name%></p>
          <% end %>
          <p>
            <ul class="list-inline">
              <li>
                <%= link_to webcam do %>
                  <i class="glyphicon glyphicon-comment"></i> <%= webcam.comments.count %> Comments
                <% end %>
              </li>
              <li>
                <%= link_to :root do %>
                <i class="glyphicon glyphicon-bookmark"></i> <%= webcam.favoris.count %> Favorites
                <% end %>
              </li>
            </ul>
          </p>
          <% if user_signed_in? %>
          <p class="text-center">
            <%= link_to 'Edit', edit_webcam_path(webcam), { :class=>"btn btn-primary", :role=>"button" } %>
            <%= link_to 'Destroy', webcam, data: { confirm: 'Are you sure?' }, method: :delete, :class=>"btn btn-danger", :role=>"button"%>
          </p>
          <% end %>
        </div>
      </div>
    </div>
<!--
        <td><%= webcam.nom %></td>
        <td><%= webcam.url %></td>
        <td><%= webcam.latitude %></td>
        <td><%= webcam.longitude %></td>
        <td><%= webcam.orientation %></td>
        <td><%= webcam.idUser %></td>
        <td><%= webcam.user %></td>
        <td><%= link_to 'Show', webcam %></td>
        <td><%= link_to 'Edit', edit_webcam_path(webcam) %></td>
        <td><%= link_to 'Destroy', webcam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
    <% end %>
<% else %>
  map

<% end %>