<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<% content_for :toolbar do %>
  <%= render "toolbar" %>
<% end %>
<!--
<table>
  <tr>
    <th>@search</th>
    <td><%=@search%></td>
  </tr>
  <tr>
    <th>@grid</th>
    <td><%=@grid%></td>
  </tr>
  <tr>
    <th>@mode</th>
    <td><%=@mode%></td>
  </tr>
</table>
-->
<%= render "layouts/flash" %>
<div class="col-xs-12 col-sm-12 col-md-12">
  <% if @search %>
    <h2>Search : '<%= @searchQry %>'</h2>
  <% else %>
    <h1>Listing webcams</h1>
  <% end %>
</div>
<% if @grid %>
    <% @webcams.each do |webcam| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <%= link_to webcam do %>
        <img src="<%= webcam.url %>?rand=<%=Random.rand()%>" alt="<%= webcam.name %>">
        <% end %>
        <div class="caption">
          <h3><%= webcam.name %></h3>
<<<<<<< HEAD
          <p>lat:<%= webcam.latitude %>, lon:<%= webcam.longitude %><%if not webcam.orientation.nil?%>, ori:<%= webcam.orientation %>°<%end%></p>
          <% if not webcam.user.nil? %>
          <p>by <%= webcam.user.pseudo %></p>
=======
          <p>lat:<%= webcam.latitude %>, lon:<%= webcam.longitude %><%unless webcam.orientation.nil?%>, ori:<%= webcam.orientation %>°<%end%></p>
          <% unless webcam.user.nil? %>
          <p>by <%= webcam.user.username %></p>
>>>>>>> 3e2419b7045b914cf5af54685fee56bf9308ff7b
          <% end %>
          <p>
            <ul class="list-inline">
              <li>
                <%= link_to webcam do %>
                  <i class="glyphicon glyphicon-comment"></i> <%= webcam.comments.count %> Comments
                <% end %>
              </li>
              <li>
                <a href="#" data-id="<%= webcam.id %>" data-user="<%= current_user.id if user_signed_in? %>" class="cmdToggleWebcamFavorite">
                  <i class="glyphicon glyphicon-bookmark"></i> <%= webcam.favoris.count %> Favorites
                </a>
              </li>
            </ul>
          </p>
          <% if webcam.userCanModify(current_user) %>
          <p class="text-center">
            <%= link_to 'Edit', edit_webcam_path(webcam), { :class=>"btn btn-primary", :role=>"button" } %>
            <%= link_to 'Destroy', webcam, data: { confirm: 'Are you sure?' }, method: :delete, :class=>"btn btn-danger", :role=>"button"%>
          </p>
          <% end %>
        </div>
      </div>
    </div>
<!--
        <td><%= webcam.name %></td>
        <td><%= webcam.url %></td>
        <td><%= webcam.latitude %></td>
        <td><%= webcam.longitude %></td>
        <td><%= webcam.orientation %></td>
        <td><%= webcam.user %></td>
        <td><%= link_to 'Show', webcam %></td>
        <td><%= link_to 'Edit', edit_webcam_path(webcam) %></td>
        <td><%= link_to 'Destroy', webcam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
    <% end %>
  <script type="text/javascript">
    $(function() {
      $(".cmdToggleWebcamFavorite").click(function() {
        var userId = $(this).attr("data-user");
        var webcamId = $(this).attr("data-id");
        var url = "<%= favoris_path %>";
        console.log("url", url)
        return false;
      });
    });
  </script>
<% else %>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div  class="embed-responsive embed-responsive-16by9">
      <div id="multi_markers" class="embed-responsive-item"> </div>
    </div>
  </div>
<<<<<<< HEAD
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
     
  var markers = handler.addMarkers([
     <% @webcams.each do |webcam| %>
    { lat: <%= webcam.latitude %>, lng: <%= webcam.longitude %>,infowindow: "<%= webcam.name %>"},
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
=======
  <script data-turbolinks-track="true" type="text/javascript">
    $(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        var markers = handler.addMarkers([
          <% @webcams.each do |webcam| %>
          { lat: <%= webcam.latitude %>, lng: <%= webcam.longitude %>,infowindow: "<%= webcam.name %>"},
          <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
>>>>>>> 3e2419b7045b914cf5af54685fee56bf9308ff7b
  </script>
<% end %>