<% content_for :toolbar do %>
  <%= render "layouts/toolbar" %>
<% end %>
<!--
<table>
  <tr>
    <th>@grid</th>
    <td><%=@grid%></td>
  </tr>
  <tr>
    <th>@showFavorites</th>
    <td><%=@showFavorites%></td>
  </tr>
  <tr>
    <th>@showMy</th>
    <td><%=@showMy%></td>
  </tr>
  <tr>
    <th>@showOthers</th>
    <td><%=@showOthers%></td>
  </tr>
  <tr>
    <th>@params</th>
    <td><%=@params%></td>
  </tr>
</table>
-->
<h1>Listing webcams</h1>
<% if @grid %>"
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Url</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Orientation</th>
      <th>Iduser</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @webcams.each do |webcam| %>
      <tr>
        <td><%= webcam.nom %></td>
        <td><%= webcam.url %></td>
        <td><%= webcam.latitude %></td>
        <td><%= webcam.longitude %></td>
        <td><%= webcam.orientation %></td>
        <td><%= webcam.idUser %></td>
        <td><%= webcam.user %></td>
        <td><%= link_to 'Show', webcam %></td>
        <td><%= link_to 'Edit', edit_webcam_path(webcam) %></td>
        <td><%= link_to 'Destroy', webcam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  map

<% end %>