<% content_for :toolbar do %>
  <%= render "toolbar" %>
<% end %>
<%= render "layouts/flash" %>
<div class="col-xs-12 col-sm-12 col-md-12">
  <% if @search %>
    <h2>Search : '<%= @searchQry %>'</h2>
  <% else %>
    <h1>Listing webcams</h1>
  <% end %>
</div>
<%
   isFavorite = @mode == "fav"
   userId = user_signed_in? ? current_user.id : "";
   if @grid
%>
  <div>
    <% if @webcams.count == 0 %>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="alert alert-info" role="alert">
          No Webcams
        </div>
      </div>
    <%
      end
      @webcams.each do |webcam|
      userCarModify = webcam.userCanModify(current_user)
    %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 webcam" data-id="<%= webcam.id %>">
      <div class="thumbnail">
        <%= link_to webcam do %>
          <img src="<%= webcam.url %>?rand=<%=Random.rand()%>" alt="<%= webcam.name %>">
        <% end %>
        <div class="caption">
          <h3><%= webcam.name %></h3>
          <p>lat:<%= webcam.latitude %>, lon:<%= webcam.longitude %><%unless webcam.orientation.nil?%>, ori:<%= webcam.orientation %>°<%end%></p>
          <% unless webcam.user.nil? %>
          <p>by <%= webcam.user.username %></p>
          <% end %>
          <p>
            <ul class="list-inline">
              <li>
                <%= link_to webcam do %>
                  <i class="glyphicon glyphicon-comment"></i> <%= webcam.comments.count %> Comments
                <% end %>
              </li>
              <li>
                <a href="#" class="cmdToggleWebcamFavorite">
                  <i class="glyphicon glyphicon-<%= webcam.userHasFavorite(current_user) ? "ok" : "bookmark" %>" id="webcam_<%= webcam.id %>_img"></i> <span id="webcam_<%= webcam.id %>_count"><%= webcam.favoris.count %></span> Favorites
                </a>
              </li>
            </ul>
          </p>
          <% if userCarModify or isFavorite %>
            <p class="text-center">
              <% if isFavorite %>
                <button class="btn btn-primary cmdMoveFavorite" role="button" data-mode="left"><i class="glyphicon glyphicon-arrow-left"></i></button>
              <% end %>
              <% if userCarModify %>
                <%= link_to 'Edit', edit_webcam_path(webcam), { :class=>"btn btn-primary", :role=>"button" } %>
                <%= link_to 'Destroy', webcam, data: { confirm: 'Are you sure?' }, method: :delete, :class=>"btn btn-danger", :role=>"button"%>
              <% end %>
              <% if isFavorite %>
                <button class="btn btn-primary cmdMoveFavorite" role="button" data-mode="right"><i class="glyphicon glyphicon-arrow-right"></i></button>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <script type="text/javascript">
    $(function() {
      $(".cmdMoveFavorite").click(function() {
        var webcamId = getDataId(this);
        var div = $(this).closest(".webcam");
        var mode = $(this).attr("data-mode");
        if (!getUserId()) return false;
        if (!webcamId) return false;
        $.ajax({
          url: "<%= favoris_ordre_path %>",
          type: 'POST',
          data: {
            id_webcam: webcamId,
            id_user: getUserId(),
            mode: mode
          },
          dataType: 'json',
          success: function(data) {
            if (!data.error && data.move) {
              if (mode == "left") {
                div.after(div.prev());
              } else {
                div.before(div.next());
              }
            }
          }
        })
        return false;
      });
    });
  </script>
<% else %>
<div class="col-xs-12 col-sm-12 col-md-12">
    <div  class="embed-responsive embed-responsive-16by9">
      <div id="multi_markers" class="embed-responsive-item"> </div>
    </div>
  </div>
  <script data-turbolinks-track="true" type="text/javascript">
    $(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        <% if @webcams.count == 0 %>
        console.log(handler.getMap())
        handler.getMap().setCenter(new google.maps.LatLng(47.0, 8.0));
        handler.getMap().setZoom(8);
        <% else %>
        var markers = handler.addMarkers([
          <% @webcams.each do |webcam| %>
          {  lat: <%= webcam.latitude %>, 
             lng: <%= webcam.longitude %>,
             infowindow: '<div class="webcam" data-id="<%= webcam.id %>"><h4><%= webcam.name %></h4><%= link_to webcam, :class => "thumbnail imageMap" do %><img src="<%= webcam.url %>?rand=<%=Random.rand()%>" alt="<%= webcam.name %>"><% end %><p><ul class="list-inline"><li><%= link_to webcam do %><i class="glyphicon glyphicon-comment"></i> <%= webcam.comments.count %> Comments <% end %></li><li><a href="#" class="cmdToggleWebcamFavorite"><i class="glyphicon glyphicon-<%= webcam.userHasFavorite(current_user) ? "ok" : "bookmark" %>" id="webcam_<%= webcam.id %>_img"></i> <span id="webcam_<%= webcam.id %>_count"><%= webcam.favoris.count %></span> Favorites</a></li></ul></p></div>'},
          <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        <% end %>
      });
    });
  </script>
<% end %>
<script type="text/javascript" data-turbolinks-track="true">
  function getUserId() {
    return <%= user_signed_in? ? current_user.id : "null" %>;
  }
  var isGrid = <%=@grid %>;
  var isFavorite = <%= isFavorite %>;
  function getDataId(elem) {
    return $(elem).closest(".webcam").attr("data-id");
  }
  $(function() {
    $(document).on("click", ".cmdToggleWebcamFavorite", function() {
      var webcamId = getDataId(this);
      if (!getUserId()) return false;
      if (!webcamId) return false;
      var div = $(this).closest(".webcam");
      $.ajax({
        url: "<%= favoris_toggle_path %>",
        type: 'POST',
        data: {
          id_webcam: webcamId,
          id_user: getUserId()
        },
        dataType: 'json',
        success: function(data) {
          if (!data.error) {
            $("#webcam_" + webcamId + "_count").html(data.count);
            var img = $("#webcam_" + webcamId + "_img")
            img.removeClass("glyphicon-bookmark");
            img.removeClass("glyphicon-ok");
            img.addClass(data.favorite ? "glyphicon-ok" : "glyphicon-bookmark");
            if (isFavorite && !data.favorite) {
              if (isGrid) {
                div.remove();
              } else {
                // TODO remove marker instead
                location.reload();
              }
              if ($(".webcam").length == 0) {
                // to show message no webcams
                location.reload();
              }
            }
          }
        }
      })
      return false;
    });
  });
</script>
