<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @webcam.nom %>
</p>

<p>
  <strong>Url:</strong>
  <%= @webcam.url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @webcam.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @webcam.longitude %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @webcam.orientation %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @webcam.idUser %>
</p>

<p>
  <strong>User:</strong>
  <%= @webcam.user %>
</p>

<%= link_to 'Edit', edit_webcam_path(@webcam) %> |
<%= link_to 'Back', webcams_path %>
