<%= form_for(@favori) do |f| %>
  <% if @favori.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favori.errors.count, "error") %> prohibited this favori from being saved:</h2>

      <ul>
      <% @favori.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ordre %><br>
    <%= f.text_field :ordre %>
  </div>
  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.number_field :idUser %>
  </div>
  <div class="field">
    <%= f.label :idWebCam %><br>
    <%= f.number_field :idWebCam %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :webcam_id %><br>
    <%= f.text_field :webcam_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
