<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse row">
    <div class="col-md-4">
    <div class="btn-group" role="group" aria-label="...">
      <%= button_tag nil, {:class=>"btn btn-default navbar-btn", :type=>"button", :id=>"webcam_disposition_map" } do%>Carte<% end %>
      <%= button_tag nil, {:class=>"btn btn-default navbar-btn", :type=>"button", :id=>"webcam_disposition_grid" } do%>Grille<% end %>
    </div>
    </div>
    <div class="col-md-4 text-center">
    <%= link_to "Ajouter une webcam", :new_webcam, { :class=> "btn btn-default navbar-btn" } %>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
    <%= button_tag nil, {:class=>"btn btn-default navbar-btn", :type=>"button", :id=>"webcam_show_favorites" } do%>Favories<% end %>
    <%= button_tag nil, {:class=>"btn btn-default navbar-btn", :type=>"button", :id=>"webcam_show_my" } do%>Mes webcam<% end %>
    <%= button_tag nil, {:class=>"btn btn-default navbar-btn", :type=>"button", :id=>"webcam_show_others" } do%>Autres webcams<% end %>
    </div>
      </div>
  </div>
</nav>