<%
   css_class = "active"
   grid_class = @grid ? css_class : ""
   map_class = (not @grid) ? css_class : ""
   favorite_class = @showFavorites ? css_class : ""
   my_class = @showMy ? css_class : ""
   other_class = @showOthers ? css_class : ""
%>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse row">
    <div class="col-md-4">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Map", root_path(:grid=>false, :showFavorites=>@showFavorites, :showMy => @showMy, :showOthers=>@showOthers), { :class=> "btn btn-default navbar-btn #{map_class}" } %>
        <%= link_to "Grid", root_path(:grid=>true, :showFavorites=>@showFavorites, :showMy => @showMy, :showOthers=>@showOthers), { :class=> "btn btn-default navbar-btn #{grid_class}" } %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="col-md-4 text-center">
        <%= link_to "Add new webcam", :new_webcam, { :class=> "btn btn-default navbar-btn" } %>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <%= link_to "Favories", root_path(:grid=>@grid, :showFavorites=>(not @showFavorites), :showMy => @showMy, :showOthers=>@showOthers), { :class=> "btn btn-default navbar-btn #{favorite_class}" } %>
          <%= link_to "My webcams", root_path(:grid=>@grid, :showFavorites=>@showFavorites, :showMy =>( not @showMy), :showOthers=>@showOthers), { :class=> "btn btn-default navbar-btn #{my_class}" } %>
          <%= link_to "Others webcams", root_path(:grid=>@grid, :showFavorites=>@showFavorites, :showMy =>@showMy, :showOthers=>(not @showOthers)), { :class=> "btn btn-default navbar-btn #{other_class}" } %>
        </div>
      </div>
    <% end %>
  </div>
</nav>