<!DOCTYPE html>
<html>
<head>
  <title>MyWebCams</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%#
 http://bootstrapzero.com/bootstrap-template/portal
%>
<nav class="navbar navbar-default navbar-inverse" role="navigation" id="main_toolbar">
  <div class="navbar-header">
    <%= link_to "MyWebCams", :root, { :class=> "navbar-brand", :rel=>"home" } %>
  </div>
  <div>
    <div class="pull-right">
      <%= form_tag(:root, method: "get", class: "navbar-form", role:"search") do %>
          <div class="input-group">
            <%= text_field_tag("srch-term", @searchQry,{:placeholder=>"Search", :type => "text", :class=>"form-control"}) %>
            <div class="input-group-btn">
              <%= button_tag nil, {:class=>"btn btn-default", :type=>"submit" } do%>
                  <i class="glyphicon glyphicon-search"></i>
              <% end %>
            </div>
          </div>
          <% if user_signed_in? %>
              <span style="color:#fff"> welcome, <%=current_user.username %></span>
              <%= link_to 'Logout', :destroy_user_session, {:method => :delete, :class=> "btn btn-default" } %>
          <% else %>
              <%= link_to "Login", :new_user_session, { :class=> "btn btn-default" } %>
              <%= link_to "Register", :new_user_registration, { :class=> "btn btn-default" } %>
          <% end %>
      <% end %>
    </div>
  </div>
</nav>
<%= yield :toolbar %>
<div class="container-fluid">
  <%= yield %>
</div>
<footer class="well well-sm">
  MyWebcam is a open-source site under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a>
  <p class="pull-right">The source is aviable on <a href="https://github.com/fa18swiss/MyWebCams">GitHub</a></p>
</footer>
</body>
</html>
